@model MailRequest
@{
    Layout = null;
}

<div class="container">
    <br />
    <div class="alert alert-success"><h3>Mail Gönderme Sayfası</h3></div>
    <form method="post">
        <label>Alıcı Mail Adresi</label>
        <input type="text" asp-for="ReceiverMail" class="form-control" />
        <br />
        <label>Konu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />
        <label>İçerik</label>
        <textarea asp-for="MessageContent" class="form-control" rows="10"></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>
