@model CreateOfferDiscountDto

@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklif Ekleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Özel Teklif Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Özel Teklif Alt başlığı</label>
                        <input type="text" class="form-control" asp-for="Subtitle" />
                        <br />
                        <label>Özel Teklif Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Buton Başlığı</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <button class="btn btn-primary">Özel Teklif Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>