@using MultiShop.DtoLayer.OrderDtos.OrderAddressDtos
@model CreateOrderAddressDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        @* @await Component.InvokeAsync("_OrderDetailComponentPartial") *@
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Fatura Ve Teslimat Adresi</span></h5>
            <div class="bg-light p-30 mb-5">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>İsim</label>
                            <input class="form-control" type="text" asp-for="Name" placeholder="Adınız">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyisim</label>
                            <input class="form-control" type="text" asp-for="Surname" placeholder="Soyadınız">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" asp-for="Email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon Numarası</label>
                            <input class="form-control" type="text" asp-for="Phone" placeholder="+90 123 456 7890">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Adres 1. Satır</label>
                            <input class="form-control" type="text" asp-for="Detail" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Adres 2. Satır</label>
                            <input class="form-control" type="text" asp-for="Detail2" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ülke</label>
                            <select class="custom-select">
                                <option selected>Türkiye</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                                <option>United States</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Şehir</label>
                            <input class="form-control" type="text" asp-for="City" placeholder="Şehriniz">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>İlçe</label>
                            <input class="form-control" type="text" asp-for="District" placeholder="İlçeniz">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Posta Kodu</label>
                            <input class="form-control" type="text" asp-for="ZipCode" placeholder="123123">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş Özeti</span></h5>

            @await Component.InvokeAsync("_OrderSummaryComponentPartial")

            @await Component.InvokeAsync("_OrderPaymentMethodComponentPartial")
        </div>
    </div>
</div>